### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# the vast majority of the following Jypter notebook was put together with a lot of help from David. Thank David!
# And this https://github.com/c-l-nguyen/academy-of-py/blob/master/PyCitySchools.ipynb
#PyCitySchool
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
SchoolDataLoad = "Resources/schools_complete.csv"
StudentDataLoad = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
SchoolData = pd.read_csv(SchoolDataLoad)
StudentData = pd.read_csv(StudentDataLoad)

# Combine the data into a single dataset
CombinedSchoolData_df = pd.merge(StudentData, SchoolData, how="left", on="school_name")
CombinedSchoolData_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
import numpy as np

TotalNumberOfSchools = len(CombinedSchoolData_df["School ID"].unique())
TotalNumberOfStudents = len(CombinedSchoolData_df["Student ID"].unique())
Budget = CombinedSchoolData_df["budget"].sum()
AverageMathScore = CombinedSchoolData_df["math_score"].mean()
AverageReadingScore = CombinedSchoolData_df["reading_score"].mean()
PercentStudentsPassingMath = sum(CombinedSchoolData_df["math_score"]>= 70)/ TotalNumberOfStudents *100
PercentStudentsPassingMath
PercentStudentsPassingReading = sum(CombinedSchoolData_df["reading_score"]>= 70)/ TotalNumberOfStudents *100
PercentStudentsPassingReading
PassingRate = (sum(CombinedSchoolData_df["reading_score"]>= 70)/ TotalNumberOfStudents*100 + sum(CombinedSchoolData_df["math_score"]>= 70)/ TotalNumberOfStudents*100)/2 
PerStudentBudget = CombinedSchoolData_df["budget"].sum() / len(CombinedSchoolData_df["Student ID"].unique())
SchoolSummary_df = pd.DataFrame({"Total Number Of Schools":[TotalNumberOfSchools],
                                "Total Number Of Students":[TotalNumberOfStudents],
                                "Total Budget":[Budget],
                                 "Per Student Budget":[PerStudentBudget],
                                 "Average Math Score":[AverageMathScore],
                                "Average Reading Score":[AverageReadingScore],
                                 "Percent Students Passing Math":[PercentStudentsPassingMath],
                                "Percent Students Passing Reading":[PercentStudentsPassingReading],
                                 "Overall Passing Rate":[PassingRate]})
SchoolSummary_df

#Now format your shit dummy

,Total Number Of Schools,Total Number Of Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Overall Passing Rate
0,15,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [43]:
TopPerformingSchools = CombinedSchoolData_df.groupby("school_name").agg(
                                                {"type":lambda x: x.value_counts().index[0],
                                                 "Student ID":"count",
                                                 "budget":lambda x: x.value_counts().index[0],
                                                 "math_score":["mean", lambda x: sum(x >= 70)],
                                                 "reading_score":["mean", lambda x: sum(x >= 70)]
                                                })


TopPerformingSchools.columns = TopPerformingSchools.columns.map("_".join)
TopPerformingSchools.rename(columns=col_mapper, inplace=True)
col_mapper = {"type_<lambda>":"School Type",
                 "Student ID_count":"Total Students",
                 "budget_<lambda>":"Total School Budget",
                 "math_score_mean":"Average Math Score",
                 "math_score":"Count Passing Math Score",
                 "math_score_<lambda>": "Count Passing Math",
                 "reading_score_mean":"Average Reading Score",
                 "reading_score":"Count Passing Reading Score",
                 "reading_score_<lambda>": "Count Passing Reading"}



TopPerformingSchools["Per Student Budget"] = TopPerformingSchools["Total School Budget"] / TopPerformingSchools["Total Students"]

TopPerformingSchools["% Passing Math"] =  TopPerformingSchools["Count Passing Math"] / TopPerformingSchools["Total Students"] * 100

TopPerformingSchools["% Passing Reading"] = TopPerformingSchools["Count Passing Reading"] / TopPerformingSchools["Total Students"] * 100

TopPerformingSchools["% Overall Passing Rate"] = (TopPerformingSchools["% Passing Math"] + TopPerformingSchools["% Passing Reading"]) / 2


column_order ="School Type, Total Students,  Total School Budget, Per Student Budget,  Average Math Score,  Average Reading Score,   % Passing Math,  % Passing Reading,   % Overall Passing Rate"
column_order = column_order.replace("  ","").replace(", ",",").split(",")
TopPerformingSchools = TopPerformingSchools[column_order]


TopPerformingSchools["Total School Budget"] = TopPerformingSchools["Total School Budget"].map("${:,.2f}".format)
TopPerformingSchools["Per Student Budget"] = TopPerformingSchools["Per Student Budget"].map("${:,.2f}".format)
TopPerformingSchools

KeyError: 'Count Passing Math'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [44]:
school_data_complete_group.sort_values("% Overall Passing Rate").head()

NameError: name 'school_data_complete_group' is not defined

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
#Sort data above overall passing rate 

grades_list= ['9th','10th','11th','12th']
math_scores_df = pd.DataFrame(index=['Bailey High School', 'Cabrera High School', 'Figueroa High School',
                                     'Ford High School'  , 'Griffin High School', 'Hernandez High School',
                                     'Holden High School', 'Huang High School'  , 'Johnson High School',
                                     'Pena High School'  , 'Rodriguez High School', 'Shelton High School',
                                     'Thomas High School', 'Wilson High School', 'Wright High School'])

for idx,val in enumerate(grades_list):
    math_scores_df[val] = CombinedSchoolData_df[CombinedSchoolData_df["grade"] == val].groupby("school_name").agg({"math_score":"mean"})

math_scores_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
#Sort data above overall passing rate 

Classes= ['9th','10th','11th','12th']
MathScores_df = pd.DataFrame(index=['Bailey High School', 'Cabrera High School', 'Figueroa High School',
                                     'Ford High School'  , 'Griffin High School', 'Hernandez High School',
                                     'Holden High School', 'Huang High School'  , 'Johnson High School',
                                     'Pena High School'  , 'Rodriguez High School', 'Shelton High School',
                                     'Thomas High School', 'Wilson High School', 'Wright High School'])

for idx,val in enumerate(Classes):
   MathScores_df[val] = CombinedSchoolData_df[CombinedSchoolData_df["grade"] == val].groupby("school_name").agg({"math_score":"mean"})

MathScores_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [19]:
SchoolSummary_df["Per Student Budget"] = pd.cut(SchoolSummary_df["Per Student Budget"].str.strip("$").astype(float),
                                                                     bins=spending_bins,
                                                                     labels=group_names)
SchoolSummary_df

AttributeError: Can only use .str accessor with string values!

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [20]:
CombinedSchoolData_df["School Size"] = pd.cut(CombinedSchoolData_df["Total Students"],
                                                                     bins=spending_bins,
                                                                     labels=group_names)
CombinedSchoolData

KeyError: 'Total Students'

## Scores by School Type

* Perform the same operations as above, based on school type.

In [21]:
columns_of_interest = ["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]
SummarySchool_df.groupby("School Type").mean()[columns_of_interest]

NameError: name 'SummarySchool_df' is not defined